:root {
  font-family: "Courier New", Courier, monospace;
}

* {
  margin: 0;
  padding: 0;
}

input[type="range"] {
  min-width: 100%;
}

.form__names {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form__label {
  margin-top: 0.5rem;
  display: block;
}

.form__input {
  min-width: 80%;
}

button {
  display: block;
  margin: 0 auto;
}
